extends layout

block content
  form.inputbox
    input(type=text required onclick="searchLocation()" id="searchBar")
    button.del(type="reset")
  div(class="cards")
    each event in events
      div(class="card")
        img(src= event.coverPicture)
        div(class="card-title")
          a(class="toggle-info btn")
            span(class="left")
            span(class="right")
          h2= event.name
            small eitthvað
        div(class="card-flap flap1")
          div(class="card-description")= event.description
          div(class="card-flap flap2")
            div(class="card-actions")
              a(class="btn") Read more

