extends layout

block content
  section(id='header-photo')
    div(id='main-logo')
      p(id='header-title') EVENTUALLY

  nav(class='navigation')
    div(class='hamburger')
      span(class='bars')
    div(class='menu')
      label(for="slider-range") Time range
      div(id="slider-range")
      label(for="slider-range_1") Attending range
      div(id="slider-range_1")

  form(class="inputbox" method="get" action="search")
    input(type="text" name="searchString" required id="searchBar")
    button.del(type="reset")

  div(class="cards")
    each event in events
      div(class="card" id= event.id)
        div(class="hidden-info")
          - var json = JSON.stringify(event);
          p= json
        img(src= event.profilePicture)
        div(class="card-title")
          a(class="toggle-info btn")
            span(class="left")
            span(class="right")
          h2= event.name
          .eventAttributes
            h3
              i.fa.fa-map-marker(aria-hidden='true')
              = event.venue.name
          .eventAttributes
            h3
              i.fa.fa-users(aria-hidden='true')
              = event.stats.attending
            h3
              i.fa.fa-clock-o(aria-hidden='true')
              - var startTime = new Date(event.startTime);
              - var date = startTime.getDate();
              - var month = startTime.getMonth();
              - var hours = startTime.getHours();
              - var minutes = startTime.getMinutes();
              - if(hours <= 9) {hours = '0'+hours;}
              - if(minutes <= 9) {minutes = '0'+minutes;}
              - startTime = date+'/'+month+'  '+hours+':'+minutes;
              = startTime
        div(class="card-flap flap1")
          div(class="card-description")= event.description
          div(class="card-flap flap2")
            div(class="card-actions")
              a(class="btn" href='https://www.facebook.com/events/'+event.id) Read more
