doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/input.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    script( type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false")
  body
    block content
  script(type="application/javascript" src="../jquery-3.1.1.min.js")
  script(type="application/javascript" src="../cardHandler.js")
  script(type="application/javascript" src="../inputHandler.js")
  script(type="application/javascript" src="../filterEvents.js")
  script(type="application/javascript" src="../main.js")
